{% extends "base/ad.html" %}

{% block no_assignment %}

The Computational Cognitive Science Lab at Princeton University is
looking for online participants for a psychology experiment where you
play a game with other turkers. The only requirements are that you are
at least 18 years old and are a native English speaker. The task will
take approximately 20-30 minutes but will vary depending on how long
you must wait for other turkers to join. It will pay a base rate of $3
with a performance bonus up to $1.92.

{% endblock %}
