{% extends "base/ad.html" %}

{% block no_assignment %}

The Computational Cognitive Science Lab at Princeton University is
looking for online participants for a psychology experiment where you
play a game with other turkers. The only requirements are that you are
at least 18 years old and are a fluent English speaker. The task will
take between 20 and 30 minutes and will pay a base rate of $2.00 with
a performance bonus up to $2.40 and additional bonus for unexpected
time spent in a waiting room.

{% endblock %}
