{% extends "layout.html" %}

{% block body %}
<div class="main_div">
  <h1>Instructions</h1>
  <hr>
  <p>
    In this experiment, you will play a series of communication games with other turkers.
  </p>

  <p>
    All of you will see the same set of four pictures, which will look something like this:
  </p>
  <p>
    <center><img src="/static/images/tangrams.png" alt="Example gameplay" style="width:600px;height:200px"></center>
  </p>
  <p>
    Each time you are paired with a new partner, one of you will be
    randomly assigned the <b>Director</b> role and the other will be
    assigned the <b>Matcher</b> role. The Director will see a blue box
    secretly marking one of these four pictures as the <b>target</b>.
  </p>
  <p>
    <center> <img src="/static/images/target.png" style="width:200px; height:200px"></center>
  </p>
  <p>
    The Director's job is to send a description of the target through
    the chatbox so that the Matcher is able to pick it out of the
    set. You can write whatever description you think will best allow
    your partner to identity the target (this isn't a game of "Taboo"
    and there is no reason to give cryptic clues!) Please note that
    the order of the pictures on your screen is scrambled on each
    round, so descriptions like "the one on the left" or "the third one" will not work.
    Also, please limit your description to the current target picture:
    do not discuss previous trials or chat about any other topics!
  </p>

  <p>
    <center><img  src="/static/images/typing.png" style="width:600px; height:276px"></center>
  </p>

  <p>
    After the Director sends a message, the Matcher will read it and
    click the picture they believe is the target.  They are also
    allowed to respond by sending messages back through the chatbox
    until they are ready to make a selection. After the Matcher clicks
    one of the pictures, both of you will be given feedback before
    advancing to the next round: the Director will see which picture
    the Matcher clicked, and the Matcher will see the true identity of
    the target. You will earn a <b>4 cent bonus</b> for each correct
    match, so pay attention!
  </p>

  <p>
    There are a total of <b>16 rounds</b> with each partner, so each
    picture will appear as the target multiple times with that
    partner. You will switch roles over 4 rounds, so both of you will
    get the chance to be Director and Matcher.  After the final round
    of your game with one partner, you will <b>switch partners</b> to
    someone you haven't talked to before!  Once you have played a game
    with <b>three different turkers</b>, you will fill out a quick 15
    second survey and be on your way.
  </p>

  <p>
    A few final notes before you begin. First, because multiple players
    must be connected simultaneously for the study to begin, you might
    briefly see a waiting room screen with a progress bar at the
    beginning while other turkers join the game. Second, when you are
    ready to swap partners, your new partner may still be completing a
    game with someone else and you may see another brief waiting
    screen like this one:
  </p>
  <p>
    <center><img  src="/static/images/waitingForPartner.png" style="width:600px; height:165px"></center>
  </p>

  <p>
    Just hold tight a moment while they catch up to you! We realize
    this waiting can make the completion time of the HIT more
    variable, but we are tracking the amount of time you spend in the
    waiting room; if you are waiting for more than 20 minutes and a
    game still has not started, or if you find your HIT close to
    expiration, please email us at rdhawkins@princeton.edu for
    compensation.
  </p>
  
  <p>
    Lastly, please DO NOT refresh the page or close the window; you
    will not be able to return to the study. Because the study
    requires the whole group to be present, if one of the other
    turkers in your group disconnects, you will be referred to a page
    where you will answer some questions and be able to submit your
    HIT. However, because such disconnections are disruptive and
    unfair to other turkers, who will be prevented from receiving the
    total possible bonus for finishing the experiment, we ask you to
    please return the HIT if you believe you may not be able to complete
    the experiment. If you decide to disconnect during the experiment
    anyway, we would very much appreciate an email with your feedback,
    and we will try to help! Have fun!
  </p>
  
  <div class="page-header">
    <h3>Comprehension Quiz</h3>
  </div>
  
  <div class="well" style="width:800px; margin: 0">

    <div class="col-md-8 pb-4">
      The <b>Director</b> can click on a picture to move to the next round. <br>
      <input type="radio" name="dgoal" value="no"> True
      <input type="radio" name="dgoal" value="yes"> False
    </div>

    <div class="col-md-8 pb-4">
      The Matcher wants to select the target that the Director is describing, and avoid selecting the other pictures. <br>
      <input type="radio" name="mgoal" value="yes"> True
      <input type="radio" name="mgoal" value="no"> False
    </div>

    <div class="col-md-8 pb-4">
      The target photo is marked for the Director with a blue box <br>
      <input type="radio" name="round" value="yes"> True
      <input type="radio" name="round" value="no"> False
    </div>

    <div class="col-md-8 pb-4">
      Your pictures are in the same order on your screen as your partner's pictures: <br>
      <input type="radio" name="comp" value="no"> True
      <input type="radio" name="comp" value="yes"> False, the pictures are shuffled
    </div>

    <div class="col-md-8 pb-4">
      You will be introduced to a new partner every 16 rounds of the game. <br>
      <input type="radio" name="message" value="yes"> True
      <input type="radio" name="message" value="no"> False
    </div>

    <div class="col-md-8 pb-4">
      You might be introduced to someone you've talked to before.  <br>
      <input type="radio" name="completed" value="no"> True
      <input type="radio" name="completed" value="yes"> False
    </div>
    
    <div>
      <div class="row">
	<div class="col-xs-10"></div>
	<div class="col-xs-2">
          <button type="button" id="go-to-waiting-room" class="btn btn-success btn-lg">Submit</button>
	</div>
      </div>
    </div>

    <div class="error" style="display:none"> Ooops! Looks like you made a mistake. You have one more try. </div>
  </div>
</div>
{% endblock %}
    
{% block scripts %}
<script>
  // Proceed to the waiting room.
  var counter = 0;
  $("#go-to-waiting-room").click(function() {
    var ans1 = $('input[name="dgoal"]:checked').val();
    var ans2 = $('input[name="mgoal"]:checked').val();
    var ans3 = $('input[name="round"]:checked').val();
    var ans4 = $('input[name="message"]:checked').val();
    var ans5 = $('input[name="comp"]:checked').val();
    var ans6 = $('input[name="completed"]:checked').val();

    if(ans1 == "yes" && ans2 == "yes" && ans3 == "yes" && 
       ans4 == "yes" && ans5 == "yes" && ans6 == "yes") {
      dallinger.goToPage("waiting");
    } else if(counter == 3) {
      location.goToPage("fail");
    } else {
      $('.error').show()
      counter += 1;
    }
  });
</script>
{% endblock %}
